@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Oi&family=Sriracha&display=swap');

.tr{
    vertical-align: middle !important;
}

.fontSriracha{
    font-family: 'Sriracha', cursive;
    list-style: none;
}






